<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Go back to</span>
    <a
      b-slate-link
      href="https://seo-assistant.vercel.app/"
    >
      Dashboard
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://google.com" target="_blank"
    >
      Som linkos
    </a>
  </p>
</footer>
